{{ $body_display := "accordion-body--collapsed" }}
{{ if .expanded }} {{ $body_display = "accordion-body--expanded" }} {{ end }}

<div class="accordion--wrapper preload">
    <div class="accordion-headline">
        <span>{{ .headline }}</span>
    </div>
    <div class="accordion-body {{ $body_display }}" onclick="event.stopPropagation()">
        <span>
        {{ if .markdownify }}
        {{ .Inner | markdownify }}
        {{ else }}
        {{ .Inner }}
        {{ end }}
        </span>
    </div>
</div>
<br>