{{ $contains_logo := (slice
    "twitter"
    "linkedin"
    "github"
    "orcid"
    "dblp"
    "googlescholar"
    "mastodon"
    "web"
    "instagram"
)}}
{{ $contains_link := (slice
    "googlescholar"
)}}
{{ $websites := (dict
    "twitter" "https://twitter.com/"
    "linkedin" "https://linkedin.com/"
    "github" "https://github.com/"
    "orcid" "https://orcid.org/"
    "googlescholar" "https://scholar.google.com/citations?user="
    "dblp" "https://dblp.org/pid/"
    "mastodon" ""
    "web" ""
    "instagram" "https://www.instagram.com/"
)}}

<div class="social-contact">
    <div class="social-logo--wrapper">
        {{ range $key, $value := .social }}
            {{ if in $contains_logo $key }}
                <a href="{{ index $websites $key }}{{ $value }}" target="_blank" class="social-logo" rel="nofollow noopener noreferrer me">
                    <img src="images/media-logos/{{ $key }}.png" title="{{ $key }}">
                </a>
            {{ end }}
        {{ end }}
    </div>

    <div class="social-text--wrapper">
        {{ range $key, $value := .social }}
            {{ if not (in $contains_logo $key) }}
                <a href="{{ index $websites $key }}{{ $value }}" target="_blank" class="link--external" rel="nofollow noopener noreferrer me">
                    {{ title $key }}
                </a><br>
            {{ end }}
        {{ end }}
    </div>

</div>