{{ $month_list := slice
    "January"
    "February"
    "March"
    "April"
    "May"
    "June"
    "July"
    "August"
    "September"
    "October"
    "November"
    "December"
}}

{{ with .publication}}
{{ $publication := . }}
<article>
    <p><strong>{{ if .url }}<a href="{{ .url }}" class="link--external" target="_blank">{{ title .title }}</a>{{ else }}
    {{ title .title }}{{ end }}</strong>
    <br>
    {{ $authors := slice}}
    {{ if le (len .authors) 20 }}
    {{ range .authors }}
        {{ $authors = $authors | append (partial "format_author_wo_prefix" (dict "author" .)) }}
    {{ end }}
    {{ else }}
    {{ range first 19 .authors }}
            {{ $authors = $authors | append (partial "format_author_wo_prefix" (dict "author" .)) }}
        {{ end }}
        {{ $authors = $authors | append " ..." }}
        {{ $authors = $authors | append (partial "format_author_wo_prefix" (dict "author" (index .authors (sub (len .authors) 1)))) }}
    {{ end }}
    {{ safeHTML (delimit $authors "," ", and") }}.
    <br>

    {{ with .conference }}{{ if .name }}
        {{ with .url }}<a href="{{ . }}" target="_blank" rel="noopener" class="link--external link-discrete">{{ end }}
            {{ .name }}
        {{ with .url }}</a>{{ end }}
        {{ with $series := .series }}{{ if .name }}
            {{ with .url }}(<a href={{ . }} target="_blank" rel="noopener" class="link--external">{{ $series.name }}</a>
            {{ else }}({{ .name }}{{ end }}{{ with $publication.pages }}, {{ replace . "--" "-" }}{{ end }})
        {{ end }}.{{ end }}{{ end }}
    {{ end }}
    {{ with .journal }}{{ if .name }}In: {{ with .url }}<a href="{{ . }}" target="_blank" rel="noopener" class="link--external link-discrete">{{ end }}{{ .name }}{{ with .url }}</a>{{ end }}{{ with .volume }}, Volume: {{ . }}{{ end }}.{{ end }}{{ end }}

    {{ with .location }} {{.}}, {{ end }}
    {{ with .month }} {{ index $month_list (int (sub . 1)) }} {{ end }}
    {{ with .year }} {{ . }}. {{ end }}
    {{ with (replace .doi "https://doi.org/" "") }}doi: <a href="https://dx.doi.org/{{ . }}" target="_blank" rel="noopener" class="link--external">{{ . }}</a>{{ end }}
        {{ with .bibtex }}<a href="{{ . }}" target="_blank" rel="noopener" class="link--external">[BibTeX]</a>{{ end }}
    </p>

</article>{{ end }}