
{{ with .page }}
<div class="job--wrapper">
  <a href="{{ .RelPermalink }}">
    <li>
      <b>{{ .Title }}</b><br>
      <div>
        {{ if .Params.description }}
        <i>{{ .Params.description }}</i>
        {{ if .Params.timespan }}| {{ end }}
        {{ end }}
        {{ with .Params.timespan }}
        {{ if lt (time .end) now }}
        <i>Application window expired</i>
        {{ else }}
        <i>Apply until {{ time.Format "January 2, 2006" .end }}</i>
        {{ end }}
        {{ end }}
      </div>
    </li>
  </a>
</div>
{{ end }}