<div id="mobile-navbar--overlay" class="hidden">
    <div class="mn-link--container">
        <ul class="navbar-list">
            <li><a href="/">Home</a></li>
            <li><a href="/posts">News and Events</a></li>
            <li><a href="/people">People</a></li>
            <li><a href="/research">Research</a></li>
            <li><a href="/teaching">Teaching</a></li>
            <li><a href="/theses">Theses</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/jobs">Jobs</a></li>
        </ul>
    </div>
    <div class="close-btn--container" onclick="document.getElementById('mobile-navbar--overlay').classList.toggle('hidden'); document.getElementsByClassName('menu-active')[0].classList.toggle('menu-active');">
        <button class="close-btn" >&times;</button>
    </div>

</div>
