{{ $person := .person }}
<div class="person-wrapper">
  <div class="person-text">
    {{ with $person.Params.link }}
    <div>
      <a href="{{ . }}" class="link--external" target="_blank">{{ with $person.Params.prefix }}{{ . }} {{ end }}{{ $person.Params.firstname }} {{ $person.Params.lastname }}{{ if eq $person.Params.suffix "Ph.D." }}, Ph.D.{{ end }}</a>
    </div>
    {{ else }}
    {{ if or (or $person.Content $person.Params.social) $person.Params.hours }}
    <div>
    <a href="{{ $person.RelPermalink }}">{{ with $person.Params.prefix }}{{ . }} {{ end }}{{ $person.Params.firstname }} {{ $person.Params.lastname }}{{ if eq $person.Params.suffix "Ph.D." }}, Ph.D.{{ end }}</a>
    </div>
    {{ else }}
    <div>{{ with $person.Params.prefix }}{{ . }} {{ end }}{{ $person.Params.firstname }} {{ $person.Params.lastname }}{{ if eq $person.Params.suffix "Ph.D." }}, Ph.D.{{ end }}</div>
    {{ end }}
    {{ end }}
    {{ with $person.Params.email }}
    <div>
    {{ partial "cloakemail" (dict "address" .) }}
    </div>
    {{ end }}
    {{ with $person.Params.end_date }} <br>
    {{ with $person.Params.date }}{{ . | dateFormat "2006" }} - {{ end }}{{ . | dateFormat "2006" }}{{ end }}

  </div>
  <div>
    {{ $alias := index $person.Params.aliases 0 }}
    {{ $img_src := "portrait.jpg"}}
    {{ with .person.Params.portrait }}
      {{ $img_src = .}}
    {{ end }}
    {{ $image := $person.Page.Resources.GetMatch $img_src }}
    {{ if $image }}{{ $image = $image.Fill "210x270 top" }} {{ end }}
    {{ with $image }}
    <img class="person-image" src="{{ $image.RelPermalink }}">
    {{ else }}
    <img class="person-image person-image-undefined" src="images/profile-placeholder.svg">
    {{ end }}
  </div>
</div>