{{ with .post }}
{{ $author := site.GetPage .Params.Author }}
<a href="{{ .RelPermalink }}">
    <div class="post--wrapper">
        <div class="post--header">
            <h5>{{ .Title }}</h5>
            <i>{{ time.Format "2 Jan 2006" .Params.Date }} • {{ with $author }} {{ printf "%s %s" .Params.firstname .Params.lastname }} {{ else }} {{ title .Params.author }} {{ end }}</i>
        </div>
        <hr>
        <div class="post--body">
            {{ with .Resources.GetMatch .Params.image }}
            <div class="post--image--wrapper">
                <img src="{{ .RelPermalink }}" class="post--image">
            </div>
            {{ end }}
            <div class="post--text--wrapper"><p>
                {{ .Summary | plainify }}
            </p></div>
        </div>
    </div>
</a>
{{ end }}