{{ $image := "" }}
{{ if .image }}
    {{ $image = (.Page.Resources.GetMatch (.image)) }}
    {{ if not $image }}
    {{ $image = .Page.Parent.Resources.GetMatch (.image) }}
    {{ end }}
    {{ if $image }}
    {{ $image = $image.RelPermalink }}
    {{ else }}
    {{ $image = printf "%s%s" site.BaseURL (.image) }}
    {{ end }}
{{ end }}

{{ if eq .color "green" }}
<div class="content-box content-box--heavy content-box--green">
{{ else }}
<div class="content-box content-box--heavy">
{{ end }}
  <div class="csc-header csc-header-n1">
    {{ with .contact_title }}
    <h4 class="csc-firstHeader">
        {{ . }}
    </h4>
    <br>
    {{ end }}
  </div>
  {{ with $image }}
  <div class="auto-align-center" style="margin-top: 10px">
      <image src="{{ . }}" style="max-width: 70%"></image><br>
  </div>
  {{ end }}
  <p class="bodytext rechte-randspalte--contact-text">
      {{ if .name }}
        <b>
        {{ if .url }}
            <a href="{{ .url}}">
                {{ .name }}
            </a>
        {{ else }}
            {{ .name }}
        {{ end}}
        </b>
      {{ end }}
      {{ with .email }}
      <a href="#">
          <br>{{ . }}
      </a>
      {{ end }}

      {{ with .office }} <br>Office: {{ . }} {{ end }}
      {{ with .phone }} <br>Phone: +49 (89) 289-{{ . }} {{ end }}
      {{ with .fax }} <br>Fax: +49 (89) 289-{{ . }} {{ end }}

      {{ with .address }}
      {{ range . }}
          {{ . }}
      {{ end }}
      <br>
      {{ end}}

      {{ range .misc }}
      {{ with . }}
      {{ . }}<br>
      {{ end }}
      {{ end }}

      {{ with .social }}
        {{ partial "format_social" (dict "social" . )}}
      {{ end }}

      {{ with $partners := .partners }}
      {{ range $idx, $_ := seq (len .urls) }}
      <b>
      <!-- Is internal -->
          {{ if eq (substr (index $partners.urls $idx) 0 1) "/" }}
          <a href="{{ index $partners.urls $idx }}">{{ index $partners.names $idx }}</a>
          <!-- Is internal -->
          {{ else }}
          <a class="link--external" target="_blank" href="{{ index $partners.urls $idx }}">{{ index $partners.names $idx }}</a>
          {{ end }}
      </b><br>
      {{ end }}
      {{ end }}

  </p>
</div>
