
{{ $storage := dict
"ipraktikum" (slice
(dict
"author" "Armanpreet Ghotra"
"role" "Developer @ iPraktikum Summer 2023"
"image" "/images/portraits/teaching-carousel/armanpreet-ghotra.jpeg"
"quote" "My iPraktikum journey was a big step forward, turning challenges into opportunities and sharpening my skills while making lasting professional connections. It highlights how hands-on learning can make a difference."
)
(dict
"author" "Maurice Lichtenberg"
"role" "Coach @ iPraktikum Winter 2023"
"image" "/images/portraits/teaching-carousel/maurice-lichtenberg.jpeg"
"quote" "Students go through the ABCs of software development, mastering practical skills along the way. This is hands-on experience, not just theory."
)
(dict
"author" "Nina Lattke"
"role" "Customer (Netlight)"
"image" "/images/portraits/teaching-carousel/nina-lattke.jpeg"
"quote" "The level of creativity and dedication was beyond expectations. Always nice to get fresh and challenging thoughts in, to share networks, and, most and foremost, to have fun together."
"url" "https://www.netlight.com/"
)
(dict
"author" "Arpen Matinyan"
"role" "Coach @ iPraktikum Winter 2023"
"image" "/images/portraits/teaching-carousel/arpen-matinyan.jpeg"
"quote" "From hesitant beginnings to confident steps forward, my journey in iPraktikum marked a progression from student to team coach and project leader. Each semester was a chapter of growth, learning, and leadership."
"draft" false
)
(dict
"author" "Tim Bodeit"
"role" "Customer (DPM)"
"image" "/images/portraits/teaching-carousel/tim-bodeit.jpeg"
"quote" "I'm really proud about what the team has achieved. Having a fully-running production deployment running on our own infrastructure within 30 minutes from receiving their server codebase felt great!"
"url" "https://www.dieproduktmacher.com/"
)
(dict
"author" "Felix Rehbach"
"role" "Customer (DPM)"
"image" "/images/portraits/teaching-carousel/felix-rehbach.jpeg"
"quote" "Great to see the impact of this fantastic university course. This course combines theory with practice and crafting valuable products."
"url" "https://www.dieproduktmacher.com/"
)
)
}}

<div class="container-full" aria-label="Quotes from course participants">
    <div class="teaching-carousel">
        {{ range (index $storage (.course)) }}
        {{ if not .draft }}
        <div class="teaching-carousel-item">
            <div>
                <div class="teaching-carousel-item-image">
                    <img src="{{ .image }}" alt="">
                </div>
                <div class="teaching-carousel-item-text">
                    <p>{{ .quote }}</p>
                </div>
            </div>

            <div class="teaching-carousel-item-author" style="justify-self: flex-end">
                <p><b>{{ .author }}</b></p>
                {{ if .url }}
                <p><a href="{{ .url }}" target="_blank" class="link--external">{{ .role }}</a></p>
                {{ else }}
                <p>{{ .role }}</p>
                {{ end }}
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
</div>

<script>
    const carousel = document.querySelector('.teaching-carousel');
    const carouselItems = document.querySelectorAll('.teaching-carousel-item');
    let shuffledItems = Array.from(carouselItems).sort(() => Math.random() - 0.5);

    carousel.innerHTML = '';
    shuffledItems.forEach(item => {
        carousel.appendChild(item);
    });
</script>