{{ $id := .id }}
{{ if not $id }}
{{ $id = .url }}
{{ end }}
<div class="tumlive-video--wrapper">
    
    <div {{ if .nothumbnail }} style="visibility: hidden" {{ end }} >
        <span class="vjs-icon-placeholder" aria-hidden="true"></span>
        <img src="{{ .thumbnail }}">
    </div>
    
    <!-- URL: Video is available -->
    {{ if .url }}
    <iframe class="tumlive-video {{ .class }}"
            title="YouTube video player"
            allow="accelerometer; encrypted-media; fullscreen"
            src="{{ .url }}?video_only=1"
            style="display: block"
            id="{{ $id }}"
            allowfullscreen>
    </iframe>

    <!-- No URL: Video is coming soon -->
    {{ else }}
    <img src="/images/coming-soon.png" id="{{ $id }}" class="tumlive-video {{ .class }}" style="display: block">
    {{ end }}
    
</div>