{{ $local_author := .Get "author" }}
{{ $hide_hidden := false }}  <!-- The variable cannot be named "display_hidden" because the default behaviour is to display hidden publications and any value given should be caught in an if statement -->
{{ with .Get "hide_hidden" }} {{ $hide_hidden = . }} {{ end }}
{{ $publications := slice }}
{{ $current_year := 0 }}
<!-- TODO: Order by month -->
<!-- Populate publications array -->
{{ range site.Data.publications }} {{ range . }}
    {{ if and (in .authors $local_author) (or (not .hidden) (not $hide_hidden)) }}
        {{ $publications = $publications | append .}}
        {{ if ge .year $current_year }} {{ $current_year = add .year 1 }} {{ end }}
    {{ end }}
{{ end }} {{ end }}

<!-- Iterate publications by year on descending order, create year header if needed -->

{{ range sort (sort $publications "month" "desc") "year" "desc" }}
    <!-- New year header -->
    {{ if gt $current_year .year }}
        {{ $current_year = .year }}
        <strong>↓ {{ .year }} </strong>
        <br>
        <br>
    {{ end }}
    {{ partial "format_publication" (dict "publication" .)}}
{{ end }}
