.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 5000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-out, visibility 0s 0.3s;
    transform: translateY(100px);
}

.scroll-to-top.visible {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
    transform: translateY(0px);
}

.scroll-to-top .circle {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid var(--color-border-strong);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--color-border-strong);
    transition: border-color 0.3s ease, color 0.3s ease;
}

.scroll-to-top:hover .circle {
    border-color: var(--color-border-strong); 
    color: var(--color-border-strong);
}

.scroll-to-top .text {
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
    color: var(--color-border-strong);
    text-align: center;
    line-height: 1;
    transition: color 0.3s ease;
}

.scroll-to-top:hover .circle {
    color: var(--color-border);
    border-color: var(--color-border);
}
.scroll-to-top .circle::before {
    content: '▲';
    font-size: 24px;
}
