{{ define "main" }}
<main>
  {{ if .Content }}
  <h1 id="title">{{ with .Params.end_date }}{{ (time .).Format "2006" }}{{ else }}{{ .Params.Date.Format "2006" }}{{ end }}: {{ .Title }}</h1>
  <div>
    <div>
      <i>{{ title (delimit .Params.targets "/" " / ") }}'s theses</i>
      <br>
      <br>

      {{ with .Params.student }}
        <strong>Student</strong>
        <br>{{ . }}<a></a><br><br>
      {{ end }}
      {{ with .Params.supervisors }}
        <strong>Supervisor(s)</strong>
        <ul>
          {{ range . }}
          <li>{{ partial "format_author" (dict "author" .) }}</li>
          {{ end }}
        </ul>
      {{ end }}
      {{ with .Params.advisors }}
        <strong>Advisor(s)</strong>
        <ul>
          {{ range . }}
          <li>{{ partial "format_author" (dict "author" .) }}</li>
          {{ end }}
        </ul>
      {{ end  }}
    </div>
    <h2>Abstract</h2>
    <article id="content">
      {{ .Content }}
    </article>

    {{ if eq .Params.state "open" }}
    <hr>
    <section>
      <i>If you are interested in writing this thesis, please use the
        <a class="link--external" target="_blank" href="https://thesis.aet.cit.tum.de/applications/thesis">
          Theses Application form
          </a>
        to contact the Research Group.
      </i>
    </section>
    {{ end }}

    {{ with .Params.pdf }}
    <hr>
    <embed class="embed-pdf" src="{{ . }}" type="application/pdf">
    {{ end }}
  </div>
</main>

{{ else }}

<!-- TODO: Refactor to avoid this -->
<script defer>
  window.location.href = {{ .Params.pdf }}
</script>
{{ end }}
{{ end }}
