{{ $pages := slice }}
{{ $display := "default" }}
{{ with .Get "display" }} {{ $display = . }} {{ end }}
{{ $instructor := .Get "instructor" }}
{{ range (site.GetPage "teaching").Pages }}
    {{ range $page := .Pages }}

    {{ range .Params.instructors }}
        {{ if eq .alias $instructor }}
            {{ $pages = append $page $pages }}
        {{ end }}
    {{ end }}
    {{ end }}
{{ end }}

<div>
    <!-- paragraphs view -->
    {{ if eq $display "default" }}
    {{ range (site.GetPage "teaching").Pages }}
        {{ $contains := false}}

        {{ range .Pages }}
            {{ if in $pages . }}
                {{ $contains = true}}
            {{ end }}
        {{ end }}

        <!-- Is contained -->
        {{ if $contains }}
            {{ if eq $display "default" }}
            <strong>↓ {{ .Title }}</strong>
            <br><br>
            <ul>
            {{ range .Pages }}
                {{ if in $pages . }}
                    {{ if .Params.link }}
                    <li><a href="{{ .Params.link }}" class="link--external" target="_blank">{{ with .Params.format }}{{ replace . "_" " " | title }}: {{ end }}{{ .Title }}</a></li>
                    {{ else }}
                    <li><a href="{{ .RelPermalink }}">{{ with .Params.format }}{{ replace . "_" " " | title }}: {{ end }}{{ .Title }}</a></li>
                    {{ end }}
                {{ end }}
            {{ end }}
            </ul>
            {{ end }}
        {{ end }}
    {{ end }}

    <!-- carousel view -->
    {{ else if eq $display "card" }}
    {{ $semester_course_map := slice }}
    <!-- semester_course_map = [{semester: _, courses: _}, ...]-->
    {{ $courses := slice }}
    {{ range $semester := (site.GetPage "teaching").Pages }}
        {{ $local := slice }}
        {{ range .Pages }}
            {{ if in $pages . }}
                {{ $local = append . $local }}
            {{ end }}
        {{ end }}
        {{ if $local }}
            {{ $semester_course_map = $semester_course_map | append (dict "semester" $semester "courses" $local) }}
        {{ end }}
    {{ end }}
    <div class="courselist-card" style="display: none">
        <div id="courselist-selector">
            {{ range $semester_course_map }}
            <a rel="noopener">{{ .semester.Title }}</a>
            {{ end }}
        </div>

        <!-- Is contained -->
        {{ range $semester_course_map }}
        <div class="courselist-body" id="courselist_{{ replace .semester.Title " " "-" }}">
            <ul>
                {{ range .courses }}
                {{ if .Params.link }}
                <li><a href="{{ .Params.link }}" class="link--external" target="_blank">{{ with .Params.format }}{{ replace . "_" " " | title }}: {{ end }}{{ .Title }}</a></li>
                {{ else }}
                <li><a href="{{ .RelPermalink }}">{{ with .Params.format }}{{ replace . "_" " " | title }}: {{ end }}{{ .Title }}</a></li>
                {{ end }}
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </div>
    <noscript>
        {{ range (site.GetPage "teaching").Pages }}
        {{ $contains := false}}

        {{ range .Pages }}
        {{ if in $pages . }}
        {{ $contains = true}}
        {{ end }}
        {{ end }}

        <!-- Is contained -->
        {{ if $contains }}
        <strong>↓ {{ .Title }}</strong>
        <br><br>
        <ul>
            {{ range .Pages }}
            {{ if in $pages . }}
            {{ if .Params.link }}
            <li><a href="{{ .Params.link }}" class="link--external" target="_blank">{{ with .Params.format }}{{ replace . "_" " " | title }}: {{ end }}{{ .Title }}</a></li>
            {{ else }}
            <li><a href="{{ .RelPermalink }}">{{ with .Params.format }}{{ replace . "_" " " | title }}: {{ end }}{{ .Title }}</a></li>
            {{ end }}
            {{ end }}
            {{ end }}
        </ul>
        {{ end }}
        {{ end }}
    </noscript>
    {{ end }}
</div>