{{ define "main" }}
{{ $author := site.GetPage .Params.Author }}
<main>
<h1 id="title">{{ .Params.Title }}</h1>
<h6>{{ time.Format "Monday, 2 January 2006" .Params.Date }} • {{ with $author }}<a href="{{ $author.RelPermalink }}">{{ printf "%s %s" .Params.firstname .Params.lastname }}</a>{{ else }} {{ title .Params.author }} {{ end }}</h6>
<hr>

<article id="content">
    {{ $resources := .Resources}}
    {{ .Content }}
</article>
{{ range seq 5 }}
    <br>
{{ end }}

{{ if $author }}
<div id="author-div">
    {{ $author_name := printf "%s %s" $author.Params.firstname $author.Params.lastname }}
    {{ with $author.Params.prefix }} {{ $author_name = printf "%s %s" . $author_name }} {{ end }}
    <h3 class="green-subheadline">{{ $author_name }}'s recent posts</h3>
    <ul>
        <!-- Get author's 10 most recent pages -->
        {{ range (first 10 (where (where site.RegularPages "Section" "posts") ".Params.author" .Params.author )) }}
        <li><a href="{{ .RelPermalink }}">
            {{ .Params.title }}
        </a></li>
        {{ end }}
    </ul>
</div>
{{ end }}
{{ end }}
