{{ define "js_imports" }}
<script type="module" src="{{ relURL "scripts/courselist-selector.js" }}"></script>
{{ end }}


{{ define "main" }}
<main>
    <h1>{{.Title}}</h1>
    <article>
        {{.Content}}
    </article>

    <!-- field_dict: {idx: [h2_title, field_id]} -->
    {{ $field_dict := dict
        "01" (slice "General Chair" "general_chair")
        "05" (slice "Student Assistants" "student_assistants")
    }}
    {{ $pages := .Pages}}

    {{ range $idx, $list := $field_dict }}
        {{ $filtered := where $pages "Params.field" (index $list 1)}}
        {{ if gt (len $filtered) 0 }}
            <h2 id="{{ index $list 1 }}">{{ index $list 0 }}</h2>
            <div class="people-wrapper">
                {{ range $filtered }}
                    {{ partial "person_card" (dict "person" .) }}
                {{ end }}
            </div>
        {{ end }}
    {{ end }}

    {{with .Params.footer }}<div style="margin-top: 4em;">
        {{ . | markdownify }}
    </div>{{ end }}

</main>
{{ end }}

