<div id="mobile-navbar--overlay" class="hidden">
    <div class="mn-link--container">
        <ul class="navbar-list">
            <li><a href="/">Home</a></li>
            <li><a href="/calls">Calls</a></li>
            <li><a href="/program">Program</a></li>
            <li><a href="/attending">Attending</a></li>
            <li><a href="/sponsors-supporters/">Sponsors & Supporters</a></li>
            <li><a href="/organization">Organization</a></li>
        </ul>
    </div>
    <div class="close-btn--container" onclick="document.getElementById('mobile-navbar--overlay').classList.toggle('hidden'); document.getElementsByClassName('menu-active')[0].classList.toggle('menu-active');">
        <button class="close-btn" >&times;</button>
    </div>

</div>
