<nav>
    <ul id="navbar" data-current="{{ .current }}">
        <li class="nav-item" data-id="home">
            <a class="nav-item--link" href="">ESWC 2026</a>
        </li>

        <li class="nav-item {{ if eq .current "calls" }} nav-item--active {{ end }}" data-id="posts">
            <a class="nav-item--link" href="calls" >Calls</a>
            <ul class="nav-submenu">
                <li class="nav-submenu-item">
                    <a href="calls/contributions-eswc" class="nav-submenu-item--link">
                        Call for Contributions: ESWC 2026
                    </a>
                </li>
                <li class="nav-submenu-item">
                    <a href="calls/papers-research-track" class="nav-submenu-item--link">
                        Calls for Papers: Research Track
                    </a>
                </li>
                <li class="nav-submenu-item">
                    <a href="calls/papers-in-use-track" class="nav-submenu-item--link">
                        Calls for Papers: In-Use Track
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item" data-id="research">
            <a class="nav-item--link" href="program">Program</a>
            {{ with .sublists }}
            <ul class="nav-submenu">
                {{ range $idx, $list := . }}
                <li class="nav-submenu-item">
                    <a href="research/{{ index $list 1}}" class="nav-submenu-item--link">
                        {{ index $list 0}}
                    </a>
                </li>
                {{ end }}
            </ul>
            {{ end }}
        </li>

        <li class="nav-item" data-id="teaching">
            <a class="nav-item--link nav-item-has-submenu" href="attending">Attending</a>
            {{ with .sublists }}
            <ul class="nav-submenu">
                {{ range $_, $list := . }}
                    <li class="nav-submenu-item">
                        <a href="teaching/{{ index $list 1}}" class="nav-submenu-item--link">
                            {{ index $list 0}}
                        </a>
                    </li>
                {{ end }}
            </ul>
            {{ end }}
        </li>

        <li class="nav-item" data-id="theses">
            <a class="nav-item--link nav-item-has-submenu" href="sponsors-supporters">Sponsors and Supporters</a>
            {{ with .sublists }}
            <ul class="nav-submenu">
                {{ range $_, $list := . }}
                <li class="nav-submenu-item">
                    <a href="theses/{{ index $list 1}}" class="nav-submenu-item--list">
                        {{ index $list 0}}
                    </a>
                </li>
                {{ end }}
            </ul>
            {{ end }}
        </li>

        <li class="nav-item" data-id="projects">
            <a class="nav-item--link nav-item-has-submenu {{ if eq .current "organization" }} nav-item--active {{ end }}" href="organization">Organization</a>
            {{ with .sublists }}
            <ul class="nav-submenu">
                {{ range $_, $list := . }}
                <li class="nav-submenu-item">
                    <a href="projects/{{ index $list 1}}" class="nav-submenu--link">
                        {{ index $list 0}}
                    </a>
                </li>
                {{ end }}
            </ul>
            {{ end }}

        </li>

    </ul>
</nav>