
{{ define "main" }}
<main>
    <article>
        <h1>{{ .Title }}</h1>
    </article>
    <article>
        {{ .Content }}
    </article>

    {{ if .Pages }}
    <h2>Open positions</h2>
    <p>Below, a list containing positions we're actively searching for can be found.</p>
    {{ end }}
    <!-- Jobs parent list -->
    {{ if eq .Title "Jobs" }}
    <!-- field_dict: {idx: [h2_title, field_id]} -->
    {{ $field_dict := dict
    "02" "Tutor"
    "03" "Student Assistant"
    }}
    {{ $pages := .Pages }}
    {{ range $idx, $title := $field_dict }}
    {{ range $pages }}
    {{ if and (eq .Title $title) (gt (len .Pages) 0) }}
    <article>
        <h3>{{ .Title }}</h3>
        <ul>
        {{ range .Pages }}
            {{ partial "job" (dict "page" .) }}
        {{ end }}
        </ul>
    </article>
    <br>
    {{ end }}
    {{ end }}
    {{ end }}

    <!-- Jobs child list -->
    {{ else }}
    <ul>
        {{ range .Pages }}
        {{ partial "job" (dict "page" .) }}
        {{ end }}
        {{ if eq (len .Pages) 0 }}
        There are currently no open positions.
        {{ end }}
    </ul>
    {{ end }}
</main>
{{ end }}

{{ define "footer" }}
{{ end }}
