<div class="instructors--wrapper">
    {{ $iterable := .Page.Params.contacts }}
    {{ $resources := .Page.Parent.Resources }}
    {{ with .Page.Params.instructors }} {{ $iterable = . }} {{ end }}

    {{ range $iterable }}
    <div class="instructor--wrapper">
        <!-- Format: Alias -->
        {{ if or (isset . "alias") (not (isset . "name")) }}
        {{ $person := . }}
        {{ if reflect.IsMap $person }}
            {{ $person = site.GetPage $person.alias }}
        {{ else }}
            {{ $person = site.GetPage .}}
        {{ end }}
        <div class="instructor--image--wrapper">
            {{ $alias := index $person.Params.aliases 0 }}
            {{ $img_src := "portrait.jpg"}}
            {{ with $person.Params.portrait }}
                {{ $img_src = .}}
            {{ end }}
            {{ $image := $person.Page.Resources.GetMatch $img_src }}
            
            <a href="{{ $person.RelPermalink }}">
            {{ with $image }}
                {{ $image = $image.Fill "420x420" }}
            <img class="instructor--image" src="{{ $image.RelPermalink }}">
            {{ else }}
            <img class="instructor--image person-image-undefined" src="images/profile-placeholder.svg">
            {{ end }}
            </a>
        </div>
        <div class="instructor--text">
            {{ if reflect.IsMap . }}{{ with .role }}<i>{{ title . }}</i>{{ end }}{{ end }}
            <a href="{{ $person.RelPermalink }}">{{ with $person.Params.prefix}}{{ . }} {{ end }}{{ $person.Params.firstname }} {{ $person.Params.lastname }}{{ if eq $person.Params.suffix "Ph.D." }}, Ph.D.{{ end }}</a>
        </div>

        <!-- Format: Direct input -->
        {{ else }}
        {{ $image := "" }}
        {{ if .portrait }} {{ $image = $resources.GetMatch .portrait }} {{ if $image }} {{ $image = $image.RelPermalink }} {{ end }} {{ end }}
        {{ if not $image }} {{ $image = printf "%s%s" site.BaseURL .portrait }} {{ end }}
        <div>
            {{ with $image }}
            <img class="instructor--image" src="{{ $image }}">
            {{ else }}
            <img class="instructor--image person-image-undefined" src="images/profile-placeholder.svg">
            {{ end }}
        </div>
        <div class="instructor--text">
            {{ with .role }}<i>{{ title . }}</i>{{ end }}
            {{ if .link }}
                <a href="{{ .link }}" class="link--external" target="_blank">{{ with .prefix}}{{ . }} {{ end }}{{ .name }}</a>
            {{ else }}
                <p>{{ with .prefix}}{{ . }} {{ end }}{{ .name }}</p>
            {{ end }}

        </div>
        {{ end }}
    </div>
{{ end }}
</div>